:root {
  color-scheme: light dark;
}
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

main {
  width: 800px;
  margin: auto;
}
header {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding-inline: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #808080;
}
h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
h2 {
  font-size: 36px;
  font-weight: 500;
}
p {
  font-size: 25px;
  font-weight: 400;
}
aside {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}
/* class's */
.nav-bar ul {
  display: flex;
  gap: 5px;
  justify-content: center;
  list-style: none;
}
.nav-bar ul li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.nav-bar ul li a:hover{
  color: aqua;
}

.title-video {
  font-size: 44px;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}
.videos-list {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  padding-top: 10px;
}
.link-practice {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background-color: blue;
  padding: 10px;
  margin: 20px;
}
.practices {
  text-align: center;
  justify-content: center;
  margin: 10px;
}
.videos {
  width: 100%;
}
@media (max-width: 775px) {
  .cards {
    grid-template-columns: auto;
  }
}
